#doctors
  margin:
    bottom: 50px
    
  strong
    font:
      family: $font-effra-medium
    color: $color-secondary

  .principal
    height: 320px
    width: 100%
    overflow: hidden
    background:
      color: $color-primary

    .image
      padding: 0

      img
        width: 100%
        min-height: 100%

  .content
    h1
      text-align: center
      margin: 40px 0

    h2
      margin:
        bottom: 40px

    p
      margin:
        bottom: 40px

    .inputs
      padding: 0 40px

      .form-group
        margin:
          bottom: 30px

        input,
        select
          @include border-radius()
          width: 100%
          padding: 6px 15px
          border:
            color: $color-dark
          color: $color-dark
          font:
            family: $font-effra-light

        label
          color: $color-secondary
          margin:
            left: 15px
            bottom: 5px
      
    .buttons
      padding:
        top: 27px

      input
        @include border-radius()
        font:
          family: $font-effra-medium
        padding: 5px
        max-width: 85px
        margin: 0