header
  height: 100px

  @media #{$xsmall-max}
    height: 58px

  .logo
    @include animation(show-content-top 1s .5s ease forwards)
    opacity: 0
    float: left
    margin: 40px 0 0 40px

    @media #{$xsmall-max}
      text-align: center
      width: 100%
      margin:
        top: 15px
        left: 0

    img
      width: 120px

  .menu
    @include animation(show-content-top 1s .5s ease forwards)
    opacity: 0
    float: right

    ul
      li
        text-transform: uppercase
        display: inline-block
        width: 105px
        margin: 30px 20px 0 20px
        text-align: center
        vertical-align: middle
        position: relative

        @media #{$large-max}
          margin:
            right: 5px
            left: 5px

        @media #{$medium-max}
          width: 80px
          font-size: .8em

        @media #{$small-max}
          width: 60px
          font-size: .7em

        &.double-line
          &.active,
          &:hover
            &::after
              bottom: -15px

        &.active,
        &:hover
          &::after
            @include animation(fade-after-menu .3s ease forwards)
            content: " "
            height: 5px
            margin: 0 auto
            position: absolute
            left: 0
            right: 0
            bottom: -22px
            background:
              color: $color-primary-soft

          a
            color: $color-secondary


@keyframes fade-after-menu
  0%
    opacity: 0
    width: 0
  100%
    opacity: 1
    width: 60px