#home
  .principal
    height: 520px
    width: 100%
    overflow: hidden

    @media #{$xsmall-max}
      height: 100%

    .image
      height: 100%

      img
        width: 100%
        min-height: 100%

    .content
      background:
        color: $color-secondary
      height: 100%
      padding: 85px 50px
      color: $color-soft

      @media #{$xsmall-max}
        padding: 85px 0

      h1
        width: 320px
        margin:
          bottom: 35px

        @media #{$xsmall-max}
          width: 70%
          margin:
            right: 20%
            left: 10%

      p
        color: $color-soft
        width: 420px
        font:
          family: $font-effra-light
        margin:
          bottom: 65px

        @media #{$xsmall-max}
          width: 70%
          margin:
            right: 20%
            left: 10%
      .btn
        @media #{$xsmall-max}
          margin:
            left: 10%

  .others-images
    img
      width: 100%
      min-height: 100%

  .video
    background:
      color: $color-gray
    padding:
      top: 60px
      bottom: 20px
    display: inline-block
    width: 100%

    iframe,
    object,
    embed
      width: 100%
      height: 100%
      min-height: 400px

    .share
      padding:
        left: 30px

      p
        font:
          family: $font-effra-light
          size: .7em
        text-transform: uppercase
        margin:
          left: 7px

      .btn
        @include border-radius(5px)
        width: 40px
        font-size: 1.5em
        padding: 2px 0
        margin:
          right: 10px

  .doctors
    height: 100%
    display: inline-block
    width: 100%
    text:
      align: center
    margin:
      top: 30px
      bottom: 30px

    p
      text-transform: uppercase
      color: $color-primary-dark
      font:
        family: $font-effra-bold
      margin:
        top: 40px
        bottom: 40px

  .specials
    h1
      color: $color-special
      margin:
        bottom: 25px

    p
      width: 400px
      color: $color-soft

    .bg-primary,
    .bg-secondary
      padding: 50px 100px

    .bg-secondary
      p
        margin:
          bottom: 28px

  .closurefast
    .image
      text-align: center

      img
        width: 70%
        margin: 25px auto

    .content
      padding: 50px 100px

      h1
        width: 400px
        color: $color-secondary
        margin:
          bottom: 25px

      p
        margin:
          bottom: 10px
        width: 400px

      .btn
        padding: 0 15px 0 20px
        border:
          width: 2px

        i
          font:
            size: 3em
            weight: 900